{$WAHA_HOST} {
  encode zstd gzip

  handle_path /telegram/* {
    reverse_proxy telegram:3100
  }

  handle {
    reverse_proxy waha:3000
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "no-referrer"
    -Server
  }
}
